body {
  margin: 0;
  background-color: rgb(244,244,244);
  color: rgb(146, 98, 57);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/* welcome-page */
.welcome-page{
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url(https://traversymedia.com/downloads/assets/beachshowcase.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
.welcome-heading{
  padding-top: 40vh;
  margin: 0;
  margin-top: 5px;
  white-space: nowrap;
  font-size: 50px;
  
}
.welcome-text{
  margin-top: 5px;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 20px;
}
.btn{
  display: inline-block;
  min-width: 100px;
  padding: 0.8em;
  border: 1px solid rgb(146, 98, 57);
  border-radius: 10px;
  margin-top: 30px;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
  transition: background-color .5s;
}
.btn:hover{
  background-color:rgb(146, 98, 57);
  color:white;
}
/* main article */
.art-top{
  padding: 20px;
  margin: 0;
  background-color:rgb(146, 98, 57);
  color: white;
  line-height: 1.6;
  font-size: 17px;
  
}
.art-bottom{
  padding: 20px;
  margin: 0;
  line-height: 1.6;
  font-size: 17px;
}
/* bottom-articles */
.bottom-articles{
  font-size: 17px;
}
.article{
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  background-color: rgb(146, 98, 57);
  text-align: justify;
  line-height: 1.6;
}
.bottom-left, .bottom-right{
  padding: 20px;
  margin: 0;
  color: white;
  vertical-align: top;
}
.bottom-center{
  padding: 20px;
  margin: 0;
  background-color: rgb(244,244,244);
  vertical-align: top;
}


