body {
  margin: 0;
  background-color: antiquewhite;
  color: rgb(146, 98, 57);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/* welcome-page */
.welcome-page{
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url(https://traversymedia.com/downloads/assets/beachshowcase.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
.welcome-heading{
  font-size: 50px;
  margin: 0;
  margin-top: 5px;
  padding-top: 250px;
  white-space: nowrap;
}
.welcome-text{
  margin-top: 5px;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 20px;
}
.btn{
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid rgb(146, 98, 57);
  border-radius: 10px;
  padding: 0.8em;
  margin-top: 30px;
  transition: background-color .5s;
  min-width: 100px;
}
.btn:hover{
  background-color:rgb(146, 98, 57);
  color:white;
}

